* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    background-image: linear-gradient(#E6E6FA, #B8E7FA);

}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 87.5%;
    margin: 0 auto;
}

/* ======common button part===== */
.btn {
    background-image: linear-gradient(to right, #FFA500, #FFD447);
    padding: 17px 29px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 10px 0px rgba(66, 68, 90, 1);
    box-shadow: 1px 2px 10px 0px rgba(66, 68, 90, 1);
}

.btn a {
    color: #0D1321;
}

.btn:hover a {
    color: white;
}

.btn:hover {
    background-image: linear-gradient(to right, #6EC1E4, #B28DFF);

}

/* ======common Hader part===== */
.hader {
    text-align: center;
    margin: 100px 0 48px;
    color: #0D1321;
}

.hader h1 {
    font-weight: 800;
    font-size: 32px;

}

.hader p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;

}

/* ==========Commone css part end============== */
header {
    padding: 24px 0;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .logo a {
    color: #0D1321;
    font-weight: 800;
    font-size: 24px;
}

.navbar .logo span {
    color: #FFA500;
}

/* =========navebar part end============ */
.banner {
    margin-top: 100px;
    background-color: white;
    text-align: center;
    padding: 40px 0;
    border-radius: 16px;
}

.banner-img img {
    text-align: center;
    width: 240px;
    height: 240px;
}

.banner h1 {
    color: #0D1321;
    font-weight: 800;
    font-size: 48px;
}

.banner p {
    color: #0D1321;
    font-weight: 400;
    font-style: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.banner .btn {
    margin-top: 32px;
}

/* =============banner part end=========== */
.why-development {
    background-color: #E6EDF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 48px;

}

.why-development-text h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.why-development-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0 32px;
}

/* =========why development part end========== */
.My-Inspiration {
    border: 1px solid #0D1321;
    border-radius: 16px;
    padding: 32px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    border: none;

}

/* =======video part end============ */
.my-target {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-image: linear-gradient(#E6EDF9, #9DE5FF);
    padding: 20px;
    width: 300px;
    height: 180px;
    border-radius: 16px;
    align-items: center;

}

.card-img img {
    width: 50px;
}

.card a {
    text-decoration: underline;
}

/* ==============my-target part end============ */
footer {
    background-color: #E6E6FA;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 0;
}

.social-icon img {
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}
/* =====footer part end======= */